*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
}
body{
	display: flex;
	justify-content: center;
}
.resume-wrapper{
	border-radius: 5px;
	max-width: 720px;
	margin-left: 45px;
}

/* header 相关 */
header{
	margin-top: 30px;
	display: flex;
}
header > img{
	/*float: left;*/
	width: 120px;
	height: 130px;
	margin-left: 10px;
}
header > .personal{
	/*float: right;
	margin-top: 10px;*/
	margin-left: 30px;
}
header .personal .position{
	margin: 7px 0;
}
header .personal .contact{
	color: #313131;
	font-size: 16px;
}

/* 分割线*/
.divide{
	width: 675px;
	height: 3px;
	background: #9a896f;
	margin-top: 15px;
}


/* 基本信息 */
.content-wrapper{
	margin-top: 30px;
}

section{
	margin-bottom: 30px;
	font-size: 16px;
}
section > p{
	padding: 0 20px;
}
section.skills > ul{
	padding: 0 20px;
}
section.skills > ul > li > h3{
	font-size: 16px;
}
section.skills > ul > li > p{
	margin: 5px 0 15px 0;
	color: #313131;
}

/* */
.basicinfo .title{
	margin-bottom: 10px;
	display: flex;
}
.basicinfo .one{
	width: 2px; height: 31px;
	background: #9a896f;
	margin-right: 2px;
}
.basicinfo .two{
	width: 5px; height: 31px;
	background: #9a896f;
	margin-right: 3px;
}
.basicinfo .three{
	width: 7px; height: 31px;
	background: #9a896f;
	margin-right: 5px;
}
.basicinfo .title-text{
	padding: 5px 5px 3px 5px;;	
	color: #fff; 
	background: #9a896f;
}

/* 作品图 */
section.works{
	padding: 10px;
	margin-bottom: 0;
}
section.works > main{
	padding: 0 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
section.works > main > div > p > a{
	text-decoration: none;
	color: rgb(76, 163, 192);
	border-bottom: 1px solid rgb(76, 163, 192);
}

div.collects {
	min-width: 210px;
	margin-bottom: 10px;
	min-height: 580px;
}
div.collects > img{
	width: 250px; height: 445px;
}
div.collects > p.introduce{
	max-width: 250px;
	margin: 10px 0;
}

div.sameSize{
	margin-left: 10px;
}
div.sameSize img{
	width: 600px;
	height: 340px;
}
div.sameSize > p{
	width: 90%;
	margin: 25px 0;
}

div.react-todo > img{
	height: 680px;
}
div.pikaqiu > img{
	height: 570px;
}


